.portfolio {
  padding: 20px;
  background: black; /* Fundo preto */
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out;
  min-height: 80vh;
  overflow: hidden; /* Prevent scrollbars */
}

.portfolio.animate {
  opacity: 1; /* Fade in when visible */
}

.portfolio__title {
  margin-top: 200px; 
  font-size: 5rem;
}

.portfolio__subtitle{
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 3rem;
  color: #6a5acd;

}

.portfolio__description {
  font-size: 2rem;
  margin-bottom: 10px;
  color: hsl(0, 0%, 68%);
  font-weight: bold!important;
  font-family: "Anonymous Pro", monospace!important;
  overflow: visible; /* Allow content to flow naturally */
  text-align: center; /* Center-align the text */
}

.portfolio__image {
  height: 450px;
  
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  max-width: 40%; /* Reduced the maximum width for smaller images */
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for better visual appeal */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add hover effects */
}

.portfolio__image:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

.portfolio__download {
  display: inline-block;
  padding: 10px 20px;
  background-color: #025843;
  color: whitesmoke;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 80%;
}

.animate .portfolio__title {
  animation: slideInFromLeft 1s ease-in-out;
}

.animate .portfolio__subtitle {
  animation: slideInFromRight 1s ease-in-out;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 40px;
  padding: 20px 40px;
}

.project-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.portfolio__image {
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
}