html, body {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  text-align: center;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  min-height: 200%; 
  background-color: black; /* Default background color */
}

.page {
  position: relative;
  min-height: 100vh; /* Ensure the page is tall enough to scroll */
  max-height: 100vh;
  z-index: 1; /* Ensure content is above the background */
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.65) 100%);
}

#home {
  min-height: 100vh;
}

.background {
  background-image: url('img/johannes-plenio-hvrpOmuMrAI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  position: absolute; /* Position the background image absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: rgb(0, 33, 65);
  transform-origin: 0%;
  z-index: 2;
}

/* Position the background image absolutely */
.header {
  position: relative;
  color: hsl(0, 0%, 68%);
  font-weight: bold!important;
  font-family: "Anonymous Pro", monospace!important;
  letter-spacing: 7px!important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 1.5s steps(40) 0.5s 1 normal both,
  blinkTextCursor 700ms infinite;
  text-align: left;
  margin-top: 750px;
  margin-left: 60%;
}

@keyframes typewriter {
  from {
    width: 0px;
  }
  to {
    width: 650px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

/* Footer Logos */
.about{
  text-align: center;
  width: 100%;
  height: 100%;
}

.footer{
  text-align: right;
  margin-right: 100px;
  margin-bottom: 10px;
}

.navbar {
  transition: 500ms ease;
  height: 50px;
  position: fixed;
  background: red;
  width: 100%;
}

.navbar-scrolled {
  background: #000;
}