.portfolio {
  padding: 20px;
  background: black; /* Fundo preto */
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out;
  min-height: 80vh;
}

.portfolio.animate {
  opacity: 1; /* Fade in when visible */
}

.portfolio__title {
  margin-top: 150px;  
  font-size: 4rem;
  color: whitesmoke; /* Texto branco */
}

.portfolio__subtitle{
  margin-top: 70px;
  font-size: 2.5rem;
  color: blueviolet; /* Texto branco */
}

.portfolio__description {
  font-size: 1.8rem;
  color: whitesmoke; /* Texto branco */
}

.portfolio__download {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #025843;
  color: whitesmoke;
  border-radius: 10px;
  margin-left: 80%;
}

.animate .portfolio__title {
  animation: slideInFromLeft 1s ease-in-out;
}

.animate .portfolio__description {
  animation: slideInFromRight 1s ease-in-out;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
